# First Steps: Initial Setup

## Getting Started

Please look in the ```README.md``` to get started.

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [3]:
%magic

[iPython-sql](https://pypi.org/project/ipython-sql/) is a useful magic for interacting with SQL databases. You can install and make the magic available by installing. The following cell will usually install the package. If the installation fails,
1. Follow the [instructions for Anaconda.](https://anaconda.org/conda-forge/ipython-sql)
2. Use web search with the error messages to see how others have solved the problem.

Contact the TA or professor if you cannot install the package.

In [ ]:
!pip install pymysql

In [ ]:
!pip install ipython-sql

Now bring the magic into the notebook's environment.

In [18]:
%load_ext sql

## Using the Magic

The first step in using the magic is to connect to your MySQL database server. You need to put your root user name and password in the code before executing the cells below. My values are in the cells for the demo.

In [5]:
db_user = "dbuser"
db_password = "dbuserdbuser"

In [16]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://dbuser:dbuserdbuser@localhost'

In [19]:
%sql $connection_string

The notebook is now connected to the database server.

## Initial Data Setup

The first step is to create a database (also known) as a schema in the database server.

In [21]:
%sql create database if not exists f22_databases

 * mysql+pymysql://dbuser:***@localhost
1 rows affected.

[]

The second step is to set the new database as the default database, and then create your first table.

Be very careful because the script drops the table (deletes the table). You loose any data if you previously used the table.

In [22]:
%sql use f22_databases

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

In [24]:
%sql drop table if exists columbia_students

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

There is a [comma separated value](https://en.wikipedia.org/wiki/Comma-separated_values) file
that contains some simulated data created with [Mockaroo](https://www.mockaroo.com/). I have a paid account on Mockaroo, which means you may not be able to create and download sample data that I am able to create.

We will write a simple Python script to load the data from the file into the database.

In [25]:
import pymysql

In [26]:
# This create a connection from the notebook environment to the database server.
# Do not worry about what all the parameters mean.
#
# You must have set the values for db_user and db_password above.
#
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [27]:
conn

In [28]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample_student_info.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [29]:
# Let's look at the data
new_rows[0:2]

[{'student_id': 'd65239a5-d26c-48fc-83e0-9add1cc8e689',
  'first_name': 'Marne',
  'middle_name': 'Charil',
  'last_name': 'Gilbart',
  'email': 'cgilbart0@slashdot.org',
  'school_code': 'GS'},
 {'student_id': 'ac1cd726-5dc0-41f8-91e5-3724e77cc8a3',
  'first_name': 'Sybyl',
  'middle_name': 'Brandice',
  'last_name': 'Hawkey',
  'email': 'bhawkey1@examiner.com',
  'school_code': 'CC'}]

Columns in relational databases have [types.](https://www.tutorialspoint.com/sql/sql-data-types.htm) Specific products implementing SQL databases usually have modifications and extensions. For now, we will just treat all of the data as "strings." So, we are going to create the table and its columns. We will use the SQL magic just for the heck of it.

In [30]:
%%sql

create table columbia_students
(
    guid varchar(256) not NULL,
    last_name   varchar(128) not null,
    first_name  varchar(128) not null,
    middle_name varchar(128) null,
    email       varchar(256) not null,
    school_code         varchar(8)  not null

);

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

We can examine the table's structure.

In [31]:
%sql describe columbia_students

 * mysql+pymysql://dbuser:***@localhost
6 rows affected.

[('guid', 'varchar(256)', 'NO', '', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('first_name', 'varchar(128)', 'NO', '', None, ''),
 ('middle_name', 'varchar(128)', 'YES', '', None, ''),
 ('email', 'varchar(256)', 'NO', '', None, ''),
 ('school_code', 'varchar(8)', 'NO', '', None, '')]

- The SQL operation for creating a row is ```INSERT.```


- We will make a template string statement for the insert.

In [41]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values(%s,%s,%s,%s,%s,%s)
"""

Now loop through the data and do the inserts.

In [42]:
# Do now worry about what a cursor is for now.
#
cur = conn.cursor()

In [43]:
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('d65239a5-d26c-48fc-83e0-9add1cc8e689','Marne','Charil','Gilbart','cgilbart0@slashdot.org','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('ac1cd726-5dc0-41f8-91e5-3724e77cc8a3','Sybyl','Brandice','Hawkey','bhawkey1@examiner.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('ff3f9660-7442-4a8f-aaff-850bbb77ecbc','Gustave','Nehemiah','Kindell','nkindell2@prnewswire.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4d4e3349-fb84-427c-9129-deef193e16ec','Rozamond','Hollyanne','Nelthorpe','hnelthorpe3@mozilla.org','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('462efd0b-6f67-44ed-90f1-2c2503dfc24c','Desmund','Fenelia','Aymes','faymes4@adobe.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a99a5990-8f3f-4ca1-a5be-3b23348ba3d3','Dmitri','Reagan','Ladbury','rladbury5@csmonitor.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('75e9c8d8-1408-4bb0-b2d0-956df2b3cc9d','Mirna','Izak','Meaker','imeaker6@dailymail.co.uk','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3d211d67-960d-4f67-8657-de6bc339457d','Karil','Kynthia','Emslie','kemslie7@jalbum.net','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a99e0c14-4a45-4ce2-a178-c00e03b58e67','Buddie','Starla','Livermore','slivermore8@wunderground.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3603774a-ee1f-4df5-acca-78b2d210ad44','Kaylil','Tammy','Jagg','tjagg9@gov.uk','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3c22c62c-64bb-4b73-b6a8-f2eb26af5654','Arlen','Florence','Baldacco','fbaldaccoa@slideshare.net','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('2514a9a6-a696-429c-a81c-9f23826b98aa','Whitney','Micki','Pilley','mpilleyb@netscape.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('5a1a1d26-0513-4543-9222-67792bd02844','Forester','Kele','Wharmby','kwharmbyc@nydailynews.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('e8236b3b-e660-46bc-967c-83d423873aa8','Hilarius','Basilius','Zanussii','bzanussiid@census.gov','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('7e7dbc6b-995b-436b-9df6-e2ad9bb6de89','Jody','Rebbecca','Murch','rmurche@imageshack.us','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3482655b-396c-46c5-83f5-294fa104982c','Elvin','Corri','Wedmore.','cwedmoref@google.nl','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('68bc6a15-3251-4f52-8534-47f33be6d046','Merrily','Marabel','Baszniak','mbaszniakg@usa.gov','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('b14b5c18-2f77-46b0-b71d-8757bbadf202','Tad','Aldridge','Debell','adebellh@hexun.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('bf64cb39-a13a-4905-9cd9-df77348e2bb2','Benjamen','Antonius','Ruoff','aruoffi@list-manage.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('59dd32a9-b036-44c5-8c0e-31ba31496b72','Hilly','Taryn','Prigmore','tprigmorej@noaa.gov','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('08c0a219-fac0-4136-9764-48c90e809c19','Hayes','Tedmund','Grieves','tgrievesk@pinterest.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('011e379a-e8c9-44e5-92d3-5453bcc4b252','Barbette','Mildred','Eaves','meavesl@google.com.br','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('db673722-031c-4ec2-808c-44db5c9fc7a2','Elissa','Dacey','Gorry','dgorrym@cnet.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a8ead7ff-295e-48e1-ab0a-9fce70875bfd','Kristopher','Karl','Clunan','kclunann@constantcontact.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('7f0279b5-e546-4c53-b8a4-ddd1eabc7057','Faulkner','Yvette','Rackley','yrackleyo@go.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4edfc4bf-e42a-4c7c-ada2-c2f4b681a8c9','Gerty','Stepha','Wisniewski','swisniewskip@spiegel.de','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a16167b6-5467-4d39-9e98-bb58944a178c','Allie','Bernelle','Lies','bliesq@mayoclinic.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('b7a875ad-ddaf-4aa2-9e1d-c057ec19507a','Lion','Lilli','Tindle','ltindler@tmall.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('1d781736-c27b-41e3-aca3-0a85ae97953d','Frederique','Erna','Deeley','edeeleys@cyberchimps.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('efee259a-8515-4b05-9700-1c4c19323725','Staford','Kathrine','Rosin','krosint@senate.gov','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('83dc9d92-c777-4033-8578-6c093b4c6171','Pierette','Faulkner','Starling','fstarlingu@wix.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('e8cdf262-249c-4453-b7dd-1c0cb960ccc6','Leodora','Deanne','Nulty','dnultyv@slate.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4d81aded-affe-40f6-b6a5-c99ff361e165','Novelia','Chrysler','Spurrett','cspurrettw@alexa.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('f111d8b7-d70d-4a0e-808a-6d84184cba45','Datha','Blake','Kensall','bkensallx@woothemes.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('d1e15203-c22d-4ff5-a9b2-271a8f32ba34','Jonathon','Lainey','Swire','lswirey@hao123.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a98adc93-910d-4107-9e3a-3350b0ad4857','Kerianne','Theodosia','Borless','tborlessz@alexa.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('fef9944a-4ed4-4f1b-892f-3c6693d3f4b3','Robbie','Symon','O\'Duilleain','soduilleain10@mlb.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('8f57bb7e-1aa7-4fc6-8677-e3102e5d99dd','Stefan','Emilie','Adds','eadds11@paginegialle.it','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('d7d93a32-f106-4e9d-8e05-4941eb56d1c6','Morgen','Holly','Woodroofe','hwoodroofe12@yale.edu','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4c8503cd-35c2-4c21-9f16-bd04e3b232ce','Sonia','Verna','St. Paul','vstpaul13@fastcompany.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('ac2dffde-bc2e-41f7-aa92-9217f47e608b','Vicky','Beret','Cattell','bcattell14@berkeley.edu','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3a05bc67-f424-4d47-8436-f58812120a89','Lira','Bonita','Redmore','bredmore15@gov.uk','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3ea1a5e6-285e-4440-aa85-db47a394124f','Reg','Vevay','Burtwistle','vburtwistle16@skype.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0deb22c9-a8a7-4ec8-affe-cbb55f506b8b','Burk','Burr','Southers','bsouthers17@blinklist.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3dfcabfa-ec00-48b1-bbc5-734ffcc39278','Gussi','Ibby','Kovalski','ikovalski18@sakura.ne.jp','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4300f352-1495-468f-b702-57867d8bbfb2','Clarie','Katerina','Jacombs','kjacombs19@toplist.cz','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('127ce564-b2eb-4dee-a84c-6e70d51012e0','Stuart','Biddy','Rabbe','brabbe1a@wisc.edu','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0f42a171-44d2-4691-81b8-b4f36f874968','Melisandra','Ian','Choldcroft','icholdcroft1b@army.mil','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('47a57bc6-72d1-4051-98d1-cedec1577776','Sara-ann','Sasha','Schumacher','sschumacher1c@earthlink.net','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('e61cdcbb-f516-4d8b-9349-ae2685dac7d5','Madalena','Faina','Fleg','ffleg1d@dyndns.org','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('cf2c654f-68bf-4311-9c0f-10904840c4c5','Starr','Mina','Cockman','mcockman1e@dedecms.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('c4124c49-3c33-4f38-8b36-eb5560dc6802','Jacintha','Des','Mayze','dmayze1f@blogs.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('937086c2-f05e-43fa-8518-1b532a70561f','Doris','Sherye','Buret','sburet1g@xrea.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('24dfc851-b960-48bc-b743-e05daa9803e5','Salvidor','Hilarius','Moynihan','hmoynihan1h@meetup.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4420fa7b-e1f8-4355-8e79-444117a72ffd','Duke','Lenka','Cummings','lcummings1i@devhub.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('464a726a-da2d-4863-bb65-41790a4e8634','Haley','Angelique','Shera','ashera1j@multiply.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('bf51c67b-9196-4f2a-94e1-ecd42e9bbe53','Drucy','Wyndham','Dagon','wdagon1k@deliciousdays.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('c09a2ca7-8515-4c1a-a578-8ba56fff797e','Stevy','Brigitte','Pickett','bpickett1l@indiegogo.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('060eedf5-0577-4909-8ee6-308b9b638819','Van','Jacquenette','Meaden','jmeaden1m@joomla.org','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('a047f4a4-0c0a-4fcf-af33-043d4cf470eb','Sandra','Faydra','Iacabucci','fiacabucci1n@columbia.edu','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('414955f4-d812-4493-a15a-8de276e8c9cf','Esdras','Mohandis','Rubens','mrubens1o@reference.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0d948239-e148-4272-9752-7e258d4936c5','Roy','Mayne','Dalliwatr','mdalliwatr1p@last.fm','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3cde3f86-bb50-4007-b303-d48ac570411f','Whitman','Carlota','Daintry','cdaintry1q@netlog.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('3b2e33b9-2a45-4a10-ab18-be7ec78b2379','Devon','Ritchie','Housbie','rhousbie1r@europa.eu','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('d2f8355f-4eb0-40c7-8886-12871801cfe5','Jillane','Mickie','Revelle','mrevelle1s@intel.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('4362ce69-007a-491a-a9e8-337cd0f09260','Rayner','Rodolphe','Skillanders','rskillanders1t@wsj.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('2fe70c84-9b7e-4f66-ad7e-8f420d093b79','Dee dee','Bili','Humberston','bhumberston1u@prnewswire.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('c7916b38-c44e-4185-b7bc-a15c628800f0','Lorin','Morie','Bellchamber','mbellchamber1v@google.cn','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('aa61706c-676b-4013-a29a-a2f7e2f52c85','Corena','Sharron','Mostin','smostin1w@sun.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('19575f9c-2fc0-4756-b2c6-ce7e28276ecd','Katherina','Angelle','Lezemore','alezemore1x@telegraph.co.uk','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0ecc5505-72b8-4b7d-b44a-0d002bf2c213','Pepita','Allegra','Peart','apeart1y@simplemachines.org','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('28f473a3-2646-4bf7-885a-bd6b5e661d94','Dion','Torie','Gaither','tgaither1z@constantcontact.com','CC')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('5f598f8c-0d51-4270-b2f8-a5be91f93c92','Gerry','Dorelia','MacGorman','dmacgorman20@cbslocal.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0c28e9e7-1e95-4917-a8d6-5fa8a4c5baee','Mar','Ramsey','Kemshell','rkemshell21@vinaora.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('fe231510-7b3f-405e-8380-aa6ee7dfcc50','Amil','Kathie','Jerdan','kjerdan22@dell.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('8beab128-8c82-44f3-99dd-db322cee1f1b','Tamarra','Ezequiel','Mundell','emundell23@blogspot.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('2327b043-8915-4466-a552-ce6f936d5a71','Zelig','Cassandry','Manlow','cmanlow24@goo.ne.jp','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0a3b74ad-6eb6-41c4-9485-0444cd64e9e3','Neel','Merry','Bourcq','mbourcq25@prweb.com','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('1ff8e19c-dc18-4c49-b2a3-b7db876e988e','Hyacintha','Almeda','Dronsfield','adronsfield26@facebook.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('e5311550-baa2-4fc2-a418-91ac4318be9b','Rutledge','Donny','Landsborough','dlandsborough27@booking.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('8e6cbaae-32a1-4402-a606-1baadd233fa3','Melina','Cordelie','Tramel','ctramel28@narod.ru','GS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('08bc87f2-45c8-4d82-9941-80a92efbd416','Cynthia','Lewes','Creboe','lcreboe29@mysql.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('b2fa45a7-3515-4c88-b6e4-2f6817f7e265','Edsel','Siward','Foch','sfoch2a@dedecms.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('0267d396-8d96-4fbd-b73d-7bd386ae3f82','Hewitt','Sheeree','Popham','spopham2b@mit.edu','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('b8cca106-8ee2-4cc0-9528-b9860e045c8c','Bellanca','Corrie','Schole','cschole2c@photobucket.com','SEAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('41571b2a-a11f-42d8-93c8-8518b2e6bf5b','Laurianne','Kaiser','Mulrenan','kmulrenan2d@sbwire.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('6e14b5b8-73f1-4c5f-8b7a-5ddc3088351c','Hall','Madella','Gabbotts','mgabbotts2e@topsy.com','GSAS')

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('afd73a3b-8cf2-47c6-954e-40307d0ae917','Cedric','Alwyn','Bustard','abustard2f@wikia.com','GSAS')

SQL =

Let's see if we can find our data.

In [44]:
%sql select * from f22_databases.columbia_students;

 * mysql+pymysql://dbuser:***@localhost
100 rows affected.

[('d65239a5-d26c-48fc-83e0-9add1cc8e689', 'Marne', 'Charil', 'Gilbart', 'cgilbart0@slashdot.org', 'GS'),
 ('ac1cd726-5dc0-41f8-91e5-3724e77cc8a3', 'Sybyl', 'Brandice', 'Hawkey', 'bhawkey1@examiner.com', 'CC'),
 ('ff3f9660-7442-4a8f-aaff-850bbb77ecbc', 'Gustave', 'Nehemiah', 'Kindell', 'nkindell2@prnewswire.com', 'GS'),
 ('4d4e3349-fb84-427c-9129-deef193e16ec', 'Rozamond', 'Hollyanne', 'Nelthorpe', 'hnelthorpe3@mozilla.org', 'GSAS'),
 ('462efd0b-6f67-44ed-90f1-2c2503dfc24c', 'Desmund', 'Fenelia', 'Aymes', 'faymes4@adobe.com', 'CC'),
 ('a99a5990-8f3f-4ca1-a5be-3b23348ba3d3', 'Dmitri', 'Reagan', 'Ladbury', 'rladbury5@csmonitor.com', 'SEAS'),
 ('75e9c8d8-1408-4bb0-b2d0-956df2b3cc9d', 'Mirna', 'Izak', 'Meaker', 'imeaker6@dailymail.co.uk', 'GSAS'),
 ('3d211d67-960d-4f67-8657-de6bc339457d', 'Karil', 'Kynthia', 'Emslie', 'kemslie7@jalbum.net', 'GSAS'),
 ('a99e0c14-4a45-4ce2-a178-c00e03b58e67', 'Buddie', 'Starla', 'Livermore', 'slivermore8@wunderground.com', 'SEAS'),
 ('3603774a-ee1f-4df5-acca-78b2d210ad44', 'Kaylil', 'Tammy', 'Jagg', 'tjagg9@gov.uk', 'GS'),
 ('3c22c62c-64bb-4b73-b6a8-f2eb26af5654', 'Arlen', 'Florence', 'Baldacco', 'fbaldaccoa@slideshare.net', 'GSAS'),
 ('2514a9a6-a696-429c-a81c-9f23826b98aa', 'Whitney', 'Micki', 'Pilley', 'mpilleyb@netscape.com', 'GSAS'),
 ('5a1a1d26-0513-4543-9222-67792bd02844', 'Forester', 'Kele', 'Wharmby', 'kwharmbyc@nydailynews.com', 'GS'),
 ('e8236b3b-e660-46bc-967c-83d423873aa8', 'Hilarius', 'Basilius', 'Zanussii', 'bzanussiid@census.gov', 'GSAS'),
 ('7e7dbc6b-995b-436b-9df6-e2ad9bb6de89', 'Jody', 'Rebbecca', 'Murch', 'rmurche@imageshack.us', 'GSAS'),
 ('3482655b-396c-46c5-83f5-294fa104982c', 'Elvin', 'Corri', 'Wedmore.', 'cwedmoref@google.nl', 'GS'),
 ('68bc6a15-3251-4f52-8534-47f33be6d046', 'Merrily', 'Marabel', 'Baszniak', 'mbaszniakg@usa.gov', 'CC'),
 ('b14b5c18-2f77-46b0-b71d-8757bbadf202', 'Tad', 'Aldridge', 'Debell', 'adebellh@hexun.com', 'GSAS'),
 ('bf64cb39-a13a-4905-9cd9-df77348e2bb2', 'Benjamen', 'Antonius', 'Ruoff', 'aruoffi@list-manage.com', 'SEAS'),
 ('59dd32a9-b036-44c5-8c0e-31ba31496b72', 'Hilly', 'Taryn', 'Prigmore', 'tprigmorej@noaa.gov', 'GSAS'),
 ('08c0a219-fac0-4136-9764-48c90e809c19', 'Hayes', 'Tedmund', 'Grieves', 'tgrievesk@pinterest.com', 'CC'),
 ('011e379a-e8c9-44e5-92d3-5453bcc4b252', 'Barbette', 'Mildred', 'Eaves', 'meavesl@google.com.br', 'SEAS'),
 ('db673722-031c-4ec2-808c-44db5c9fc7a2', 'Elissa', 'Dacey', 'Gorry', 'dgorrym@cnet.com', 'CC'),
 ('a8ead7ff-295e-48e1-ab0a-9fce70875bfd', 'Kristopher', 'Karl', 'Clunan', 'kclunann@constantcontact.com', 'SEAS'),
 ('7f0279b5-e546-4c53-b8a4-ddd1eabc7057', 'Faulkner', 'Yvette', 'Rackley', 'yrackleyo@go.com', 'GSAS'),
 ('4edfc4bf-e42a-4c7c-ada2-c2f4b681a8c9', 'Gerty', 'Stepha', 'Wisniewski', 'swisniewskip@spiegel.de', 'GSAS'),
 ('a16167b6-5467-4d39-9e98-bb58944a178c', 'Allie', 'Bernelle', 'Lies', 'bliesq@mayoclinic.com', 'CC'),
 ('b7a875ad-ddaf-4aa2-9e1d-c057ec19507a', 'Lion', 'Lilli', 'Tindle', 'ltindler@tmall.com', 'GS'),
 ('1d781736-c27b-41e3-aca3-0a85ae97953d', 'Frederique', 'Erna', 'Deeley', 'edeeleys@cyberchimps.com', 'GSAS'),
 ('efee259a-8515-4b05-9700-1c4c19323725', 'Staford', 'Kathrine', 'Rosin', 'krosint@senate.gov', 'GSAS'),
 ('83dc9d92-c777-4033-8578-6c093b4c6171', 'Pierette', 'Faulkner', 'Starling', 'fstarlingu@wix.com', 'GS'),
 ('e8cdf262-249c-4453-b7dd-1c0cb960ccc6', 'Leodora', 'Deanne', 'Nulty', 'dnultyv@slate.com', 'GS'),
 ('4d81aded-affe-40f6-b6a5-c99ff361e165', 'Novelia', 'Chrysler', 'Spurrett', 'cspurrettw@alexa.com', 'CC'),
 ('f111d8b7-d70d-4a0e-808a-6d84184cba45', 'Datha', 'Blake', 'Kensall', 'bkensallx@woothemes.com', 'CC'),
 ('d1e15203-c22d-4ff5-a9b2-271a8f32ba34', 'Jonathon', 'Lainey', 'Swire', 'lswirey@hao123.com', 'SEAS'),
 ('a98adc93-910d-4107-9e3a-3350b0ad4857', 'Kerianne', 'Theodosia', 'Borless', 'tborlessz@alexa.com', 'GSAS'),
 ('fef9944a-4ed4-4f1b-892f-3c6693d3f4b3', 'Robbie', 'Symon', "O'Duilleain", 'soduilleain10@mlb.com', 'CC'),
 ('8f57bb7e-1aa7-4fc6-8677-e3102e5d99dd', 'Stefan', 'Emilie', 'Adds', 'eadds11@paginegialle.it', 'SEAS'),
 ('d7d93a32-f106-4e9d-8e05-4941eb56d1c6', 'Morgen', 'Holly', 'Woodroofe', 'hwoodroofe12@yale.edu', 'CC'),
 ('4c8503cd-35c2-4c21-9f16-bd04e3b232ce', 'Sonia', 'Verna', 'St. Paul', 'vstpaul13@fastcompany.com', 'GS'),
 ('ac2dffde-bc2e-41f7-aa92-9217f47e608b', 'Vicky', 'Beret', 'Cattell', 'bcattell14@berkeley.edu', 'SEAS'),
 ('3a05bc67-f424-4d47-8436-f58812120a89', 'Lira', 'Bonita', 'Redmore', 'bredmore15@gov.uk', 'CC'),
 ('3ea1a5e6-285e-4440-aa85-db47a394124f', 'Reg', 'Vevay', 'Burtwistle', 'vburtwistle16@skype.com', 'GS'),
 ('0deb22c9-a8a7-4ec8-affe-cbb55f506b8b', 'Burk', 'Burr', 'Southers', 'bsouthers17@blinklist.com', 'GSAS'),
 ('3dfcabfa-ec00-48b1-bbc5-734ffcc39278', 'Gussi', 'Ibby', 'Kovalski', 'ikovalski18@sakura.ne.jp', 'CC'),
 ('4300f352-1495-468f-b702-57867d8bbfb2', 'Clarie', 'Katerina', 'Jacombs', 'kjacombs19@toplist.cz', 'CC'),
 ('127ce564-b2eb-4dee-a84c-6e70d51012e0', 'Stuart', 'Biddy', 'Rabbe', 'brabbe1a@wisc.edu', 'SEAS'),
 ('0f42a171-44d2-4691-81b8-b4f36f874968', 'Melisandra', 'Ian', 'Choldcroft', 'icholdcroft1b@army.mil', 'CC'),
 ('47a57bc6-72d1-4051-98d1-cedec1577776', 'Sara-ann', 'Sasha', 'Schumacher', 'sschumacher1c@earthlink.net', 'GSAS'),
 ('e61cdcbb-f516-4d8b-9349-ae2685dac7d5', 'Madalena', 'Faina', 'Fleg', 'ffleg1d@dyndns.org', 'GS'),
 ('cf2c654f-68bf-4311-9c0f-10904840c4c5', 'Starr', 'Mina', 'Cockman', 'mcockman1e@dedecms.com', 'SEAS'),
 ('c4124c49-3c33-4f38-8b36-eb5560dc6802', 'Jacintha', 'Des', 'Mayze', 'dmayze1f@blogs.com', 'GS'),
 ('937086c2-f05e-43fa-8518-1b532a70561f', 'Doris', 'Sherye', 'Buret', 'sburet1g@xrea.com', 'GS'),
 ('24dfc851-b960-48bc-b743-e05daa9803e5', 'Salvidor', 'Hilarius', 'Moynihan', 'hmoynihan1h@meetup.com', 'GS'),
 ('4420fa7b-e1f8-4355-8e79-444117a72ffd', 'Duke', 'Lenka', 'Cummings', 'lcummings1i@devhub.com', 'SEAS'),
 ('464a726a-da2d-4863-bb65-41790a4e8634', 'Haley', 'Angelique', 'Shera', 'ashera1j@multiply.com', 'GS'),
 ('bf51c67b-9196-4f2a-94e1-ecd42e9bbe53', 'Drucy', 'Wyndham', 'Dagon', 'wdagon1k@deliciousdays.com', 'GS'),
 ('c09a2ca7-8515-4c1a-a578-8ba56fff797e', 'Stevy', 'Brigitte', 'Pickett', 'bpickett1l@indiegogo.com', 'GSAS'),
 ('060eedf5-0577-4909-8ee6-308b9b638819', 'Van', 'Jacquenette', 'Meaden', 'jmeaden1m@joomla.org', 'CC'),
 ('a047f4a4-0c0a-4fcf-af33-043d4cf470eb', 'Sandra', 'Faydra', 'Iacabucci', 'fiacabucci1n@columbia.edu', 'GS'),
 ('414955f4-d812-4493-a15a-8de276e8c9cf', 'Esdras', 'Mohandis', 'Rubens', 'mrubens1o@reference.com', 'GS'),
 ('0d948239-e148-4272-9752-7e258d4936c5', 'Roy', 'Mayne', 'Dalliwatr', 'mdalliwatr1p@last.fm', 'CC'),
 ('3cde3f86-bb50-4007-b303-d48ac570411f', 'Whitman', 'Carlota', 'Daintry', 'cdaintry1q@netlog.com', 'GS'),
 ('3b2e33b9-2a45-4a10-ab18-be7ec78b2379', 'Devon', 'Ritchie', 'Housbie', 'rhousbie1r@europa.eu', 'CC'),
 ('d2f8355f-4eb0-40c7-8886-12871801cfe5', 'Jillane', 'Mickie', 'Revelle', 'mrevelle1s@intel.com', 'GS'),
 ('4362ce69-007a-491a-a9e8-337cd0f09260', 'Rayner', 'Rodolphe', 'Skillanders', 'rskillanders1t@wsj.com', 'SEAS'),
 ('2fe70c84-9b7e-4f66-ad7e-8f420d093b79', 'Dee dee', 'Bili', 'Humberston', 'bhumberston1u@prnewswire.com', 'GS'),
 ('c7916b38-c44e-4185-b7bc-a15c628800f0', 'Lorin', 'Morie', 'Bellchamber', 'mbellchamber1v@google.cn', 'CC'),
 ('aa61706c-676b-4013-a29a-a2f7e2f52c85', 'Corena', 'Sharron', 'Mostin', 'smostin1w@sun.com', 'GSAS'),
 ('19575f9c-2fc0-4756-b2c6-ce7e28276ecd', 'Katherina', 'Angelle', 'Lezemore', 'alezemore1x@telegraph.co.uk', 'CC'),
 ('0ecc5505-72b8-4b7d-b44a-0d002bf2c213', 'Pepita', 'Allegra', 'Peart', 'apeart1y@simplemachines.org', 'CC'),
 ('28f473a3-2646-4bf7-885a-bd6b5e661d94', 'Dion', 'Torie', 'Gaither', 'tgaither1z@constantcontact.com', 'CC'),
 ('5f598f8c-0d51-4270-b2f8-a5be91f93c92', 'Gerry', 'Dorelia', 'MacGorman', 'dmacgorman20@cbslocal.com', 'SEAS'),
 ('0c28e9e7-1e95-4917-a8d6-5fa8a4c5baee', 'Mar', 'Ramsey', 'Kemshell', 'rkemshell21@vinaora.com', 'GSAS'),
 ('fe231510-7b3f-405e-8380-aa6ee7dfcc50', 'Amil', 'Kathie', 'Jerdan', 'kjerdan22@dell.com', 'SEAS'),
 ('8beab128-8c82-44f3-99dd-db322cee1f1b', 'Tamarra', 'Ezequiel', 'Mundell', 'emundell23@blogspot.com', 'GS'),
 ('2327b043-8915-4466-a552-ce6f936d5a71', 'Zelig', 'Cassandry', 'Manlow', 'cmanlow24@goo.ne.jp', 'SEAS'),
 ('0a3b74ad-6eb6-41c4-9485-0444cd64e9e3', 'Neel', 'Merry', 'Bourcq', 'mbourcq25@prweb.com', 'GS'),
 ('1ff8e19c-dc18-4c49-b2a3-b7db876e988e', 'Hyacintha', 'Almeda', 'Dronsfield', 'adronsfield26@facebook.com', 'SEAS'),
 ('e5311550-baa2-4fc2-a418-91ac4318be9b', 'Rutledge', 'Donny', 'Landsborough', 'dlandsborough27@booking.com', 'SEAS'),
 ('8e6cbaae-32a1-4402-a606-1baadd233fa3', 'Melina', 'Cordelie', 'Tramel', 'ctramel28@narod.ru', 'GS'),
 ('08bc87f2-45c8-4d82-9941-80a92efbd416', 'Cynthia', 'Lewes', 'Creboe', 'lcreboe29@mysql.com', 'SEAS'),
 ('b2fa45a7-3515-4c88-b6e4-2f6817f7e265', 'Edsel', 'Siward', 'Foch', 'sfoch2a@dedecms.com', 'GSAS'),
 ('0267d396-8d96-4fbd-b73d-7bd386ae3f82', 'Hewitt', 'Sheeree', 'Popham', 'spopham2b@mit.edu', 'SEAS'),
 ('b8cca106-8ee2-4cc0-9528-b9860e045c8c', 'Bellanca', 'Corrie', 'Schole', 'cschole2c@photobucket.com', 'SEAS'),
 ('41571b2a-a11f-42d8-93c8-8518b2e6bf5b', 'Laurianne', 'Kaiser', 'Mulrenan', 'kmulrenan2d@sbwire.com', 'GSAS'),
 ('6e14b5b8-73f1-4c5f-8b7a-5ddc3088351c', 'Hall', 'Madella', 'Gabbotts', 'mgabbotts2e@topsy.com', 'GSAS'),
 ('afd73a3b-8cf2-47c6-954e-40307d0ae917', 'Cedric', 'Alwyn', 'Bustard', 'abustard2f@wikia.com', 'GSAS'),
 ('9cb4f5b6-75a7-4b75-bfa3-9fada74cf90c', 'Ancell', 'Justina', 'Mapp', 'jmapp2g@hexun.com', 'GS'),
 ('458c6069-6265-4c75-bb75-cd9f525d4051', 'Harlie', 'Eldon', 'Juara', 'ejuara2h@slate.com', 'GS'),
 ('515cd5c5-cc2b-4e7b-b4ad-cf628f6daa13', 'Engelbert', 'Maryjane', 'Penney', 'mpenney2i@ycombinator.com', 'SEAS'),
 ('52d96c52-7c19-4863-8a35-823ba7c71522', 'Elladine', 'Murdoch', 'Medcalf', 'mmedcalf2j@soundcloud.com', 'GSAS'),
 ('f5057ed0-38b2-4715-a2ca-b0cf3115ad02', 'Bennett', 'Adrian', 'Gennrich', 'agennrich2k@arstechnica.com', 'SEAS'),
 ('37150ebe-f6fa-43fa-a6e1-a462610da7f4', 'Arny', 'Marwin', 'Izat', 'mizat2l@eepurl.com', 'GSAS'),
 ('ebb300d2-0884-4987-a81e-a45944e8c2fc', 'Ralf', 'Georgi', 'Dendon', 'gdendon2m@purevolume.com', 'CC'),
 ('11c8ca51-690b-4683-98bd-9a1b00d92df9', 'Willard', 'Garrek', 'Ghelerdini', 'gghelerdini2n@google.it', 'SEAS'),
 ('4fece6e0-db7f-431d-8979-9d6e6bfe2d9e', 'Link', 'Clarabelle', 'Beretta', 'cberetta2o@cpanel.net', 'CC'),
 ('1884fc35-206f-4c0e-b5ab-eaa7a3f57f5e', 'Ira', 'Sergei', 'Tangye', 'stangye2p@utexas.edu', 'CC'),
 ('0083a12e-8ec7-4c28-91fb-62838d460e1e', 'Shanie', 'Thor', 'Turtle', 'tturtle2q@si.edu', 'GS'),
 ('0fcfc1f1-5c30-4632-8092-23bc2ee332f5', 'Addie', 'Britt', 'Izkovicz', 'bizkovicz2r@ebay.com', 'CC')]

## Complete

The phase of the project initial setup is complete.

We will perform other tasks in future steps.